@use '../abstracts/abstracts' as *;
@use "sass:color";

.principal-nav ul {
    display: flex;
    gap: 2rem;
    @include reset-list();

    li {
        display: flex;
        align-items: center;
        gap: 32px;

        a {
            transition: color 0.3s ease;
            color: $dark-blue;
            text-decoration: none;

            &:hover {
               color: color.scale($dark-blue, $lightness: 50%);
            }
        }
    }
}